{% extends "index.html" %}
{% block title %}YCM{% endblock %}
{% block css %}
<!-- DataTables-->
<link rel="stylesheet" href="/static/plugins/dataTables/css/dataTables.css">
{% endblock %}
{% block content %}
       <div class="row">
            <div class="col-md-12">
               <!--breadcrumbs start -->
               <ul class="breadcrumb">
                     <li><a href="{% url 'index' %}">主控页面</a>
                     </li>
                     <li>资产管理</li>
                     <li class="active">服务器资产</li>
               </ul>
               <!--breadcrumbs end -->
               <h1 class="h1">软硬件资产信息</h1>
            </div>
       </div>

       <div class="row">
            <div class="col-md-12">
                 <div class="panel panel-default">
                      <div class="panel-body">
                           {% if server_asset %}
                           <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                   <tr>
                                      <th>主机名</th>
                                      <th>厂商</th>
                                      <th>产品型号</th>
                                      <th>硬件序列号</th>
                                    </tr>
                                    <tr>
                                        <td>{{ server_asset.hostname }}</td>
                                       <td>{{ server_asset.manufacturer }}</td>
                                       <td>{{ server_asset.productname }}</td>
                                       <td>{{ server_asset.service_tag }}</td>
                                   </tr>
                                    <tr>
                                      <th>CPU型号</th>
                                      <th>CPU线程数</th>
                                      <th>CPU物理个数</th>
                                      <th>内存大小</th>
                                    </tr>
                                    <tr>
                                        <td>{{ server_asset.cpu_model }}</td>
                                        <td>{{ server_asset.cpu_nums }}</td>
                                        <td>{{ server_asset.cpu_groups }}</td>
                                        <td>{{ server_asset.mem }}</td>
                                    </tr>
                                    <tr>
                                      <th>硬盘大小</th>
                                      <th>RAID级别</th>
                                      <th>内网IP</th>
                                      <th>内网MAC地址</th>
                                   </tr>
                                   <tr>
                                       <td>{{ server_asset.disk}}</td>
                                       <td>{{ server_asset.raid }}</td>
                                       <td>{{ server_asset.ip }}</td>
                                       <td>{{ server_asset.macaddress }}</td>
                                   </tr>
                                   <tr>
                                      <th>操作系统</th>
                                      <th>是否虚拟机</th>
                                      <th>所属机房</th>
                                   </tr>
                                   <tr>
                                      <td>{{ server_asset.os }}</td>
                                      <td>{{ server_asset.virtual }}</td>
                                      <td>{{ server_asset.idc_name }}</td>
                                   </tr>
                            </table>
                           {% endif %}
                         </div>
                     </div>
                 </div>
             </div>
      	<!--row end-->

{% endblock %}
